:root {
  --white: #FFF;
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --blue-300: #4EA8DE;
  --blue-400: #1E6F9F;

  --purple-300: #5E60CE;

  --red-500: #F75A68; 

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  -webkit-font-smoothing: antialiased;
}
body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
}

